html {
  margin: 0px !important;
  padding: 0px !important;
} 

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px !important;
  padding: 0px !important;
}

.badge {
  font-weight: 800;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

