.search-box {
  box-shadow: none !important;
}

.post.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  padding: 0 px !important;
  margin: 0 px !important;
  height: 100%;

  .card-footer {
    font-size: 12px;
    margin: 0 0px 0px 0px;
    padding: 8px 20px;
  }
}

.post-metadata {
  font-size: 16px;
  margin-top: -6px;

  .tag:hover {
    background-color: $primary;
    color: white !important;
  }
}
